/* Selector Universal */
/* * {
    padding: 0;
    margin: 0;
} */

/* Selector de tipo *//* 
main {
    border: 2px dotted goldenrod;
} */

/* Selector por id */
/* #info {
    border-bottom: 5px solid red;
} */

/* Selector de clase */
/* .titulo {
    border: 1px solid black;
    box-shadow: 10px 5px 5px red;
} */

/* Selector de clase de un tag en particular */
/* h3.titulo {
    font-size: 100px;
} */

/* Selector por atributo. No importa el valor que tenga el atributo */
/* p[lang="en"] {
    background-color: goldenrod;
} */

/* Selector por atributo buscando un texto al final */
/* a[href$='mx'] {
    background-color: red;
}

a[href^="ftp"] {
    background-color: brown;
}

a[href*="pagina"] {
    font-size: 45px;
}

[class~="round"] {
    border: 3px solid blue;
    border-radius: 10px;
} */

/* Selectores de lista */
/* a, titulo, [lang] {
    color: red;
} */

/* Selector de descendientes */
/* main p {
    border: 3px solid red;
} */

/* Selector de hijo directo */
main > p {
    border: 8px solid black
}